BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_WS_BASE_URL=ws://localhost:8000
BACKEND_URL=http://localhost:8000
INTERNAL_API_TOKEN=
