# GNS3
GNS3_URL=http://localhost:3080
GNS3_ADMIN_USER=admin
GNS3_ADMIN_PASSWORD=admin

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gns3_service
DB_SQL_ECHO=false

# Service
SERVICE_HOST=127.0.0.1
SERVICE_PORT=8101
LOG_LEVEL=INFO
